@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */

::-webkit-scrollbar {
  width: 1em;
}

/* Track */

::-webkit-scrollbar-track {
  background: #131313;
  border-radius: 100vw;
  margin-block: 0.5em;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border: 0.25em solid #131313;
  border-radius: 100vw;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .full-bleed {
    box-shadow: -10px 0 0 0 #1c1c1c, 10px 0 0 0 #1c1c1c;
  }
}

@layer components {
  .tiptap > p {
    @apply text-base leading-6 tracking-normal;
  }
  .tiptap > * > p {
    @apply text-base leading-6 tracking-normal;
  }
  .tiptap > h1 {
    @apply text-3xl font-bold leading-10 tracking-normal;
  }
  .tiptap > * > h1 {
    @apply text-3xl font-bold leading-10 tracking-normal;
  }
  .tiptap > h2 {
    @apply text-2xl font-semibold leading-8 tracking-normal;
  }
  .tiptap > * > h2 {
    @apply text-2xl font-semibold leading-8 tracking-normal;
  }
  .tiptap > h3 {
    @apply text-xl font-semibold leading-6 tracking-normal;
  }
  .tiptap > * > h3 {
    @apply text-xl font-semibold leading-6 tracking-normal;
  }
  .tiptap > blockquote {
    @apply pl-4 border-l-2 border-gray-300/90;
  }
  .tiptap > * > code {
    @apply bg-[#393737] text-[#F6F6F6];
  }
  .tiptap > pre {
    @apply p-4 text-white bg-gray-800 rounded-lg;
  }
  .tiptap > pre > code {
    @apply p-0 bg-transparent text-inherit;
  }
  .tiptap > ol {
    @apply pl-8 list-decimal list-outside;
  }
  .tiptap > ul {
    @apply pl-8 list-disc list-outside;
  }
}
